<div *ngIf="!loading">

  <table id="table1" *ngIf="usersService.users.length; else noTasks">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Street</th>
      <th>Suite</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Phone</th>
      <th>Website</th>
    </tr>
    <tr *ngFor="let user of usersService.users; let i = index">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.street}}</td>
      <td>{{user.address.suite}}</td>
      <td>{{user.address.city}}</td>
      <td>{{user.address.zipcode}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>

      <td><button (click)="delUser(user.id)">&times;</button></td>
    </tr>
  </table>

  <ng-template #noTasks>
    <h3>No any tasks now</h3>
  </ng-template>
</div>


<div *ngIf="loading">
  <h3>Loading data...</h3>
</div>
